:root {
  --pl-bg: #1e0338;
  --pl-green-pr: #89B442;
  /* Ask Color */
  --pl-primary-button: #CE60A5;
  --pl-secundary-button: #9F4DAF;

  --pl-bg-footer: linear-gradient(180deg, #A04EAF 0%, #BC59A9 100%);;
  /* Cards  */
  --plg-gradient-title: linear-gradient(180deg, #ce60a5 0%, #9f4daf 100%);
  --plg-gradient-00: linear-gradient(144.12deg, #fc58b3 11.61%,  #feae68 100%);
  --plg-gradient-01: linear-gradient(144.12deg, #916cff 11.61%, #70bcfb 100%);
  --plg-gradient-02: #f2f2f2;
  /* properties */
  --plg-round: 10px

}

input:focus-visible {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--pl-bg);
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(218, 216, 216);
}

nav ul li a:hover {
  transition: 150ms;
  color: white;
}

/* Header */

.header {
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}

.platzi_title {
  font-size: 80px;
  background: var(--plg-gradient-title);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* calculators */

.calculators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

.calculators-md {
    font-size: 20px;
    margin: 20px;
    padding: 30px;
    width: 223px;
    height: 286px;
    border-radius: var(--plg-round);
}

.calculators-discount {
    background: var(--plg-gradient-00);
}

.calculators-figures {
    background: var(--plg-gradient-01);

}

.calculators-promedio {
    color: black;
    background-color: var(--plg-gradient-02);

}


/* footer */

footer {
    border-radius: 30px 30px 0px 0px;
    background: var(--pl-bg-footer);
    padding: 20px 0;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer ul {
    align-items: center;
    display: flex;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    margin-right: 20px;
    transition: 150ms;
    text-decoration: none;
    color: rgb(218, 216, 216);
  }
  
.footer ul li a:hover {
    margin-right: 20px;
    text-decoration: none;
    color: white;
  }

  .footer_finally {
      margin: 20px 0;
      text-align: center;
  }

  .footer_finally a {
      text-decoration: none;
      color: white;
  }