.form {
  text-align: center;
}

.form_title {
  font-size: 20px;
  font-weight: bold;
  color: #948cf3;
}

.form_cuadrado {
  padding: 0 30px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: var(--plg-round);
  margin: 10px 0;
  width: 508px;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(20px);
}

.form_input-circulo {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(20px);
}

.form_btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  height: 70px;
  width: 180px;
  border-radius: 10px;
  margin: 20px 10px;
}

.form_btn:hover {
    cursor: pointer;
}

.form_btn-perimetro {
  background: #fd749b;
}

.form_btn-area {
  background: #948cf3;
}

.form_btn-type {
    margin: 20px 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(20px);
    border-radius: var(--plg-round);
}

.form_btn-type:hover {
    cursor: pointer;
}


.type-cuadrado {
    background: #9f4daf;
}